<div class="row" id="journalRow">
  <% @journal_entries.each do |j| %>
    <div class="col-sm-6 col-md-6" id="journalEntry">
      <div class="panel panel-default">
        <div class="panel-heading" id="journalPanelHeading"> 
           Journal entry written on <%=j.created_at %>
        </div>
        <div class="panel-body"> 
          <div id="feelingPanel"> 
            Feeling <span> <%= j.feeling %> </span>
          </div>
          <br/>
          <div id="journalBodyPanel">
           <%= j.body %> 
          </div>
          <br/>
          <div id="journalNamePanel">
            <%= j.user.first_name %>
          </div>
          <div id="journalEntryDelete">
          <% if can?(:delete, j) %>
            <%= link_to(
              "Erase",
              journal_entry_path(j),
              method: :delete,
              class: :button,
              data: { confirm: "Are you sure?" }
            ) %>
          <% end %>
          </div>
        </div>
    </div>
  </div>
  <% end %>
</div>
