
<nav>
  <%= link_to 'Home Page', root_path %>
    <% if user_signed_in? && current_user.admin? %>
      <%= link_to 'Exercises', exercises_path %>
          
      <%= link_to 'New Exercise', new_exercise_path%>
    <% end %>
    <% if user_signed_in? %>
      Hello <%= current_user.first_name %>
          
      <%= link_to 'Sign Out', sessions_path, method: :delete %>
    <% else %>
          
      <%= link_to 'Sign Up', new_user_path %>
          
      <%= link_to 'Sign In', new_sessions_path %>
    <% end %>
</nav>

