<!DOCTYPE html>
<html>
  <head>
    <title>FeelBetter2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


     <%# <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
     %>

    <%= javascript_pack_tag 'application' %>
    <%= javascript_include_tag 'application' %>
    
    
  </head>

  <body>
    <div class="container" id="contentContainer">
    <header>
      <nav>
        <%= link_to 'Home Page', root_path %>
        <% if user_signed_in? && current_user.admin? %>
          <%= link_to 'Exercises', exercises_path %>
          |
          <%= link_to 'New Exercise', new_exercise_path %>
        <% end %>
        <% if user_signed_in? %>
          Hello <%= current_user.first_name %>
          |
          <%= link_to 'Sign Out', sessions_path, method: :delete %>
        <% else %>
          |
          <%= link_to 'Sign Up', new_user_path %>
          |
          <%= link_to 'Sign In', new_sessions_path %>
        <% end %>
      </nav>
      <hr>
    </header>

    <% flash.each do |type, message| %>
        <div class="alert alert-<%= type %> alert-dismissible fade show" role="alert">
          <%= message %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
    <% end %>

    <%= yield %>
    </div>
  </body>
</html>
