<!DOCTYPE html>
<html>
  <head>
    <title>FeelBetter2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= stylesheet_link_tag 'application', media: 'all' %>

    <link href="home.scss" rel="stylesheet" type="scss">

    <%= javascript_pack_tag 'application' %>
    <%= javascript_include_tag 'application' %>
    
    
  </head>

  <body>
    <div class="container" id="contentContainer">
    <header>
      <nav class="navbar navbar-default" id="navContainer">
        <div class="container-fluid">
          <ul class="nav navbar-nav navbar-left" id="brandUl">
            <li id="brandLi" >
              <a class="navbar-link navbar-left" id="brand" href="/">
                Feel Better
              </a>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right" id="navRight">
            <% if user_signed_in? %>
            <li> <%= link_to 'Journal', journal_entries_path %> </li>
            <li> 
              <a> Favorites </a>
            </li>
            <% end %>

            <% if user_signed_in? && current_user.admin? %>
              <li> <%= link_to 'MHExercises', exercises_path %> </li>
              <li> <%= link_to 'New MHExercise', new_exercise_path%> </li>
            <% end %>

            <% if user_signed_in? %>
              <li> 
                <a> 
                  Hello <%= current_user.first_name %>! 
                </a>
              </li>
              <li> <%= link_to 'Sign Out', sessions_path, method: :delete %></li>
            <% else %>
              <li> <%= link_to 'Sign Up', new_user_path %> </li>
              <li> <%= link_to 'Sign In', new_sessions_path %> </li>
            <% end %>
          </ul>
        </div>
      </nav>
    </header>

    <% flash.each do |type, message| %>
        <div class="alert alert-<%= type %> alert-dismissible fade show" role="alert">
          <%= message %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
    <% end %>

    <%= yield %>
    </div>
  </body>
</html>
